{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'publish/style.css' %}" />

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>代码发布平台</title>
</head>

<body>

<div class="box"   >

<h1 align=center >代码发布平台V1.4</h1>
	<ul>
    	<li><a href="../index">首页</a>
        </li>

        <li><a href="#">线上测试环境</a>
        	<ul>
                <li><a href="#">企易贷</a>
                	<ul>
                    	<li><a href="../totest_idc_71dai0111">前台页面</a></li>
                        <li><a href="../totest_idc_71dai.api0112">前台接口</a></li>
                    </ul>
                </li>
                <li><a href="#">普交所</a>
                	<ul>
                    	<li><a href="../totest_idc_51p2bhtml0121">前台页面</a></li>
                        <li><a href="../totest_idc_51p2b.api0122">前台接口</a></li>
                        <li><a href="../totest_idc_51p2b.adminhtml0123">管理页面</a></li>
                        <li><a href="../totest_idc_51p2b.adminapi0124">管理接口</a></li>
                        <li><a href="../totest_idc_51p2b.application0125">公共库</a></li>
                        <li><a href="../totest_idc_51p2bweixin0126">微信页面</a></li>
                    </ul>
                </li>
                <li><a href="#">企易融</a>
                	<ul>
                    	<li><a href="../totest_idc_71fihtml0131">前台页面</a></li>
                        <li><a href="../totest_idc_71fiapi0132">前台接口</a></li>
                        <li><a href="../totest_idc_71fiadmin0133">管理页面</a></li>
                        <li><a href="../totest_idc_71fiadminapi0134">管理接口</a></li>
                        <li><a href="../totest_idc_71fiConfig0137">配置文件</a></li>
                        <li><a href="../totest_idc_teamloghtml0138">teamlog</a></li>
                        <li><a href="../totest_idc_teamlogapi0139">apiteamlog</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">线上生产环境</a>
        	<ul>
                <li><a href="#">企易贷</a>
                	<ul>
                    	<li><a href="#">前台页面</a></li>
                        <li><a href="#">前台接口</a></li>
                    </ul>
                </li>
                <li><a href="#">普交所</a>
                	<ul>
                    	<li><a href="#">前台页面</a></li>
                        <li><a href="#">前台接口</a></li>
                        <li><a href="#">管理页面</a></li>
                        <li><a href="#">管理接口</a></li>
                        <li><a href="#">公共库</a></li>
                        <li><a href="#">微信页面</a></li>
                    </ul>
                </li>
                <li><a href="#">企易融</a>
                	<ul>
                    	<li><a href="#">前台页面</a></li>
                        <li><a href="#">前台接口</a></li>
                        <li><a href="#">管理页面</a></li>
                        <li><a href="#">管理接口</a></li>
                        <li><a href="#">配置文件</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">线上开发环境</a>
        	<ul>
                <li><a href="#">企易融</a>
                	<ul>
                    	<li><a href="../todev_idc_71fihtml0331">前台页面</a></li>
                        <li><a href="../todev_idc_71fiapi0332">前台接口</a></li>
                        <li><a href="../todev_idc_71fiadmin0333">管理页面</a></li>
                        <li><a href="../todev_idc_71fiadminapi0334">管理接口</a></li>
                        <li><a href="../todev_idc_71fiConfig0337">配置文件</a></li>
                        <!--li><a href="#">支付key</a></li-->
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">线上演示环境</a>
        	<ul>
                <li><a href="#">普交所</a>
                	<ul>
                    	<li><a href="../todemo_idc_51p2bhtml0421">前台页面</a></li>
                        <li><a href="../todemo_idc_51p2bapi0422">前台接口</a></li>
                        <li><a href="../todemo_idc_51p2b.adminhtml0423">管理页面</a></li>
                        <li><a href="../todemo_idc_51p2b.adminapi0424">管理接口</a></li>
                        <li><a href="../todemo_idc_51p2b.application0425">公共库</a></li>
                    </ul>
                </li>
            </ul>
        </li >
        <li><a href="#">内部测试环境</a>
        	<ul>
                <li><a href="#">普交所</a>
                	<ul>
                    	<li><a href="../todev_beta_51p2bhtml0521">前台页面</a></li>
                        <li><a href="../todev_beta_51p2b.api0522">前台接口</a></li>
                        <li><a href="../todev_beta_51p2b.adminhtml0523">管理页面</a></li>
                        <li><a href="../todev_beta_51p2b.adminapi0524">管理接口</a></li>
                        <li><a href="../todev_beta_51p2b.application0525">公共库</a></li>
                        <li><a href="../todev_beta_51p2bweixin0526">微信页面</a></li>
                    </ul>
                </li>
            </ul>
        </li >
        <li><a href="#">审计&&临时</a>
        	<ul>
                <li><a href="#">代码发布记录</a>
                	<ul>
                    	<li><a href="../audit">最近20条</a></li>
                    </ul>
                </li>
                <li><a href="#">管理员测试</a>
                	<ul>
                    	<li><a href="../totemp_idc_71fi_fortest0648">临时</a></li>
                    </ul>
                </li>
              <li><a href="#">普交所new</a>
                        <ul>
                        <li><a href="../newtotest_idc_51p2b.adminapi0654">管理接口</a></li>
                        <li><a href="../newtotest_idc_51p2b.adminhtml0653">管理页面</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">欢迎:{{username}} </a>
        	<ul>
                <li><a href="../logout/">退出</a>
                </li>
            </ul>
        </li>
    </ul>  
</div>
</div>
<div  id='result'   class='result'  >
<div align=center  id='cmd'  >
{%  block  cmd   %}
<div>
<h3 align=center  >公告</h3>
<p>&nbsp&nbsp&nbsp&nbsp注意事项：</p>
<p>&nbsp&nbsp&nbsp&nbsp  新注册用户不能发布任何环境的代码，但是可以查看审计栏下的发布记录，
赋权限后对一个环境下的对应项目的一个分项目有发布权限，如user1赋予了线上测试环普交所前台页面权限，则该用户可以发布线上测
试环境下普交所项目下的前台页面代码，对其他任何环境任何项目和分项均没有权限。 </br>&nbsp&nbsp&nbsp&nbsp如果出现正常登陆且有权限状态发布不了代码，可以登出重新登陆下即可!</p>
<p>&nbsp&nbsp&nbsp&nbsp更新日志：</p>
<ul>
<li>V1.4 增加三级鉴权功能。</li>
<li>V1.3 增加登陆，鉴权模块。</li>
<li>V1.2 增加基础审计功能。 </li>
<li>V1.1 增加内部测试环境，界面调整。 </li>
<li>V1.0 第一版。</li>
</ul>   
</div>
{% endblock   %}
</div>
</div>
<!--div> hello<hr   border-bottom:5px solid #000  >   <hr />  </div-->
</body>
</html>
